
 .container
{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    width: 450px;
    height: 450px;
}

.box
{
     height: 50px;
     width: 50px;
     border: 1px solid black;
}

.green
{
    background-color: aqua;
}