.progress-container
{
  width: 420px;
  height: 45px;
  border-radius: 26px;
  border: 1px solid gray;
  position: relative;
  overflow: hidden;
}

.section
{
background-color: greenyellow;
width: 200px;
height: 45px;
}

.text
{
  position: absolute;
  width: 100%;
  text-align: center;
  z-index: 1;
}
